*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
@font-face {
font-family:DuneFont ;
src: url(./Dune-Rise-Font/Dune_Rise.otf);
/* font-weight: 10px; */
}
#super{
  height: auto;
  width: auto;
  /* border: 2px solid black; */
  /* border: 2px solid pink; */
  z-index: 4;


}
#super.super1{
height:100vh;
width: 100vw;
border: 2px solid pink;
}
/* @media screen and (max-width:768px){
.super{
  height: 100vh;
  width: 100vw;
  border: 2px solid black;
}
} */
#navBox{
  width: 100%;
  height: 64px;
  /* border: 2px solid blue; */
  /* background-color: #F1F3F4; */
  /* background-color: #020466; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  /* opacity: 1; */

}
/* media quries here */
@media screen and (max-width:768px) {
#navBox{
height: 45px;
z-index: 4;

}
}
@media screen and (max-width:480px) {
#navBox{
height: 40px;
z-index: 4;

/* background-color: blue; */
}
}


#navBox.navBox1{
  width: 100%;
  height: 100%;
  /* background-color: #000000; */
  /* border: 2px solid blue; */
  background-color: #2b272e;
  z-index: 4;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation: down 600ms ;
  position: relative;
 

}


/* keyframe animation here */
@keyframes down{
0%{
    height: 64px;
}
100%{
    height: 100%;
}


}
@keyframes up{
0%{
    height: 100%;
}
100%{
    height: 64px;

}

}



#mid{
  height: 100%;
  width: 80%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 4;

}


#mid.mid1{
  height: 60%;
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /* display: initial; */
  z-index: 4;
  position: absolute;
  top: 100px;


}

.icon{
  height: 30px;
  max-width: auto;

  
  /* border: 2px solid purple; */
  /* margin: 0 20px 0px 20px; */
  margin: 0 1% 0px 1%;
  /* padding: 0 1% 0px 1%; */


  word-wrap: break-word;

}


/* media quries here */
@media  screen and (max-width:768px) {
#mid{
    display: none;
}
.button{
    display: none;
}
  
  
}


/* .animation{
  display: none;
} */
#animation{
  display: none;
}


/* media quries here */


@media  screen and (max-width:768px) {
  #animation{
      display: initial;
  }
}


.hamIcon{
  position: absolute;
  top: 17px;
  right: 17px;
  display: none;

}


/* media quries here */

@media  screen and (max-width:768px) {
.hamIcon{
    display: initial;
    top: 10px;
    z-index: 10;
}

}
@media  screen and (max-width:480px) {
.hamIcon{
    top: 8px;
}

}


#logo{
/* background-color: black; */
  /* padding: 5px; */
  z-index: 4;
  /* height: 100px; */
  /* width: 100px; */
  position: absolute;
  top: -60px;
  left: -40px;

}

/* media quries here */

@media screen and (max-width:768px) {
#logo{
        z-index: 4;
        position: absolute;
        top: -60px;
        left: -50px;
    
    }

}



/* .navText{
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  position: relative;
} */

.navText{
font-family: 'DuneFont';
font-size: 16px;
color: #fff;
/* font-weight:10px; */
position: relative;
z-index: 4;
}
.navText1{
font-family: 'DuneFont';
font-size: 16px;
color: #000;
/* font-weight:10px; */
position: relative;
}
/* hover effect here  */
.navText:before{
content: "";
position:absolute;
top:100%;
left: 0;
width: 0%;
height: 3px;
border-radius: 4px;
background-color:#fbbc04;
transition: all .5s;
}
.navText:hover:before{
width: 100%;
}

.svgTextElem{
/* border: 2px solid red; */
width:50px;
height:50px;


}

.text{
 
  font-size: 50px;
  font-family: 'DuneFont';
                  
}






.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


.bgimg{
  /* background-image: url(./gdsc-bg-img/12345.jpg); */
  /* background-size: cover; */
  /* z-index: 10; */
  position: relative;
  width: 100%;
  height:100%;
  /* padding: 100px; */
  /* overflow-x: hidden; */
  overflow-y: hidden;

}

.img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#sky{
  z-index: 1;

}
#hills{
  position: absolute;
  height: 100%;
  width: 100vw;
  /* border: 2px solid green; */

  z-index: 2;
}
#moon{
  position: absolute;
  width: 80%;
  height: 80%;
  top: 15%;
  left: 0;
  /* bottom: 10px; */
  /* border: 2px solid red; */
  z-index: 3;
}

@media screen and (max-width:505px) {
  #moon{
    /* position: absolute; */
    /* width: 40%;
    height: 40%; */
    top: 8%;
    /* left: 0%; */
    /* bottom: 10px; */
    /* border: 2px solid red; */
    /* z-index: 3; */
  /* overflow-x: hidden; */

  }
  
}





/* Css for hero section  */
.hero-section1{
  width: 100%;
  height: 90vh;
  /* border: 2px solid violet; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* .bgvid{
  position: absolute;
  right: 0;
  top: 0;
width: 100%;
height: 100%;
z-index: -10;
} */



#main1{
  height: 300px;
  width: 600px;
  /* border: 1px solid red; */
  /* margin: 20px; */
  position: absolute;
  /* position: static; */
  top: 25%;
  /* left: 0; */
  z-index: 1;
/* transform: translateX(100px); */

}
@media screen and (max-width:505px){
  #main1{
    height: 300px;
    width: 250px;
    /* min-width: 50px; */
    margin: 10px;
    z-index: 1;
  }

}
.subHeading{
  height:auto;
  width: 90%;
  /* display: inline-block; */
  position: relative;
  top: 100px;
  left: 15px;
  /* font-family: 'Titillium Web', sans-serif; */
  /* font-size: 20px; */
  /* border: 2px solid blue; */
  text-align: center;
  word-wrap: break-word;
  animation: subHeadingTransition 6s;
  animation-fill-mode: forwards;
}
@media screen and (max-width:505px) {
  .subHeading{
    
    top: 40px;
    left: 40px;
   
  }
  
}


.subHeadingText{
  font-family: 'DuneFont';
font-size: 15px;
color: #fff;
  /* font-size: 25px; */
  /* padding: 8px; */
}

.commonClass{
display: inline-block;
}


.G{
  position: relative;
  /* left: 00px; */
  left: 10%;
  top: 33.34%;
  /* border: 2px solid blue; */
  animation: leftToRight 2s;
  animation-fill-mode: forwards;
}

@media screen and (max-width:505px){
  .G{
    left: 10px;
    top: 30px;
    animation: leftToRight2 2s;
    animation-fill-mode: forwards;
  }
 
}
  

.D {
  position: relative;
  left: 26.67%;
  top: 66.6%;
  animation: downToUp 2s;
  animation-fill-mode: forwards;
}

@media screen and (max-width:505px){
  .D{
    left: 40px;
    top: 60px;
    animation: downToUp2 2s;
    animation-fill-mode: forwards;
  }
 
}
.S {
  position: relative;
  top: 0;
  left: 26%;
  /* right: 00px; */
  animation: upToDown 2s;
  animation-fill-mode: forwards;
}
@media screen and (max-width:505px){
  .S{
    left: 40px;
    top: 0px;
    animation: upToDown2 2s;
    animation-fill-mode: forwards;
  }
 
}
.C {
  position: relative;
  top: 33.34%;
  left: 41.34%;
  animation: rightToLeft 2s;
  animation-fill-mode: forwards;
}
@media screen and (max-width:505px){
  .C{
    top: 30px;
    left: 70px;
    animation: rightToLeft2 2s;
    animation-fill-mode: forwards;
  }
 
}




@keyframes leftToRight {
  from {
    opacity: 10%;
    transform: translateX(0px);
  }

  to {
    opacity: 100%;
    transform: translateX(100px);
    transition-duration: 4s;
  }
}

@keyframes leftToRight2 {
  from {
    opacity: 10%;
    transform: translateX(0px);
  }

  to {
    opacity: 100%;
    transform: translateX(30px);
    transition-duration: 4s;
  }
}

@keyframes rightToLeft {
  from {
    opacity: 10%;
    transform: translateX(0px);
  }

  to {
    opacity: 100%;
    transform: translateX(-100px);
    transition-duration: 4s;
  }
}
@keyframes rightToLeft2 {
  from {
    opacity: 10%;
    transform: translateX(0px);
  }

  to {
    opacity: 100%;
    transform: translateX(-30px);
    transition-duration: 4s;
  }
}

@keyframes upToDown {
  from {
    opacity: 10%;
    transform: translateY(0px);
  }

  to {
    opacity: 100%;
    transform: translateY(100px);
    transition-duration: 4s;
  }
}
@keyframes upToDown2 {
  from {
    opacity: 10%;
    transform: translateY(0px);
  }

  to {
    opacity: 100%;
    transform: translateY(30px);
    transition-duration: 4s;
  }
}

@keyframes downToUp {
  from {
    opacity: 10%;
    transform: translateY(0px);
  }

  to {
    opacity: 100%;
    transform: translateY(-100px);
    transition-duration: 4s;
  }
}
@keyframes downToUp2 {
  from {
    opacity: 10%;
    transform: translateY(0px);
  }

  to {
    opacity: 100%;
    transform: translateY(-30px);
    transition-duration: 4s;
  }
}

@keyframes subHeadingTransition {
  from {
    opacity: 0%;
    
  }

  to {
    opacity: 100%;
    transition-duration: 4s;
  }
}

.main2{
  height: 300px;
  width: 400px;
  /* border: 2px solid blue; */
}

.hero-section2{
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
  /* background-color: #d1c6f065; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  /* position: absolute; */
  z-index: 0;
  overflow-x: hidden;
}

/* .hero-section2::before 
{
content: '';
position:absolute;
border: 2px solid red;
bottom:0;
top: -0px; 
width: 100%;
height: 100px;
background: linear-gradient(to top, #2d286c, transparent);
z-index:0;
} */
#main3 {
  height: 320px;
  width: 450px;
  /* border: 2px solid blue; */
  background-color: rgba(103, 103, 207, 0.37);
  position: sticky;
  margin-right: 50px ;
  border-radius: 16px;
  
 

}
@media screen and (max-width:768px) {
  #main3{
    height: 300px;
    width: 70%;
    /* border: 2px solid blue; */
  background-color: rgba(103, 103, 207, 0.555);
    margin: 5px;

  
  }
  
}
@media screen and (max-width:480px) {
  #main3{
    height: 300px;
    width:100%;
    /* border: 2px solid blue; */
  background-color: rgba(103, 103, 207, 0.555);



  
  }
  
}
.about1{
  font-family: 'DuneFont';
  text-align: center;
  padding: 50px 0;
  font-size: 70px;
  font-weight: 800;
  color: rgba(103, 103, 207, 0.555);
}
@media screen and (max-width:480px) {
  .about1{
  font-size: 50px;
  }
  
}
#main4{
  height: 320px;
  width: 450px;
  /* border: 2px solid blue; */
  position: sticky;
  margin-left: 50px ;
background: rgba(255, 255, 255, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(0px);
/* -webkit-backdrop-filter: blur(0px); */

}
@media screen and (max-width:768px) {
  #main4{
    height: 300px;
    width:70%;
    /* border: 2px solid blue; */
    margin: 5px;

  
  }
  
}
@media screen and (max-width:480px) {
  #main4{
    height: 300px;
    width:100%;
    /* border: 2px solid blue; */
    margin: 5px;
  
  }
  
}
.about2{
  text-align: center;
  font-size: 20px;
margin: 30px;

}
.outer-hero-section3{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
flex-direction: column;
}
.hero-section3{
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 2px solid black; */
}
@media screen and (max-width:810px) {
  .hero-section3{
    height: auto;
  }
  
}
.headingOfAbout{
  text-align: center;
  font-size: 50px;
  font-family: 'DuneFont';
  font-weight: 1000;
  margin-top: 10px;
  padding: 10px;
  background-color: #ea4435e1;
  /* width: 50%; */
  border-radius: 25px;
}
#aboutImg{
  width: 400px;
 height: 400px;
}
@media screen and (max-width:810px) {
  #aboutImg{
    width: 100%;
   height: 300px;
  }
  
}
.main5{
  height: 300px;
  width: 400px;
  /* border: 2px solid red; */
  margin: 10px;
}
@media screen and (max-width:425px) {
  .main5{
  width: 100%;
  }
  
}


.main6{
  height: 300px;
  width: 400px;
  /* border: 2px solid red; */
  margin: 10px;


}
@media screen and (max-width:425px) {
  .main6{
 width: 100%;
  }
  
}






.hero-section4{
  width: 100%;
  height: auto;
  margin-top: 50px;

  /* border: 2px solid green; */
  /* background-color: #d1c6f065; */
  

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  

  
  
}

.mainOfEvents{
  width: 95%;
  min-height:72vh;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(103, 103, 207, 0.37);

  /* background-color: #f7fbfb3a; */
  /* background-color: rgba(103, 103, 207, 0.37); */

/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25); */

  /* border: 2px solid red; */
  border-radius: 10px;
  flex-wrap: wrap;
  margin: 20px;
}
.heading {
  display: flex;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  height: 30%;
  width: 100vw;
  justify-content: center;
  /* font-size: large; */
  /* border: 2px solid green; */
  
}
.heading h1{
  font-size: 50px;
  font-family: DuneFont;
   margin-top: 20px;
   background-color: #fbbc04;
   border-radius: 25px;
   padding: 10px;
}
h2 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
}
.profile-card{
  position: relative;
  width: 160px;
  height: 160px;
  background: #fbbc04;
  /* background-color: rgba(103, 103, 207, 0.192); */
  /* border: 2px solid blue; */
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px rgba(249, 247, 249, 0.4);
  transition: .6s;
  margin: 20px;
}
.profile-card:hover{
  border-radius: 5px;
  height: min-content;
  border-style: solid;
}
.profile-card .imgBoxOfEvents{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
  /* border-style: solid; */
}
.profile-card:hover .imgBoxOfEvents{
  transform: translateY(-60px);
}
.imgBoxOfEvents img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px rgba(79, 77, 77, 0.4);
  transition: .6s;
}
.profile-card:hover img{
  border-radius: 10px;
}
.captionOfEvents{
  text-align: center;
  transform: translateY(-50px);
  opacity: 0;
  transition: .6s;
  padding-top: 40px;
  height: min-content;
  /* border-style: solid; */
}
.profile-card:hover .captionOfEvents{
  opacity: 1;
}
.firstTextOfCard{
  padding-bottom: 5px;
  font-size: 17px;
  font-family:'DuneFont';
  font-weight: 1000;
}
.secTextOfCard{
  font-size: 14px;
  color: #0c52a1;
  margin: 2px 0 9px 0;
}


/* button */
.buttonBox{
  height: 10vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}
.buttonOuter{
  height: 35px;
  min-width: 230px;
  width: auto;
  position: relative;
  /* background-color: rgba(103, 103, 207, 0.37); */
  background-color: #fbbc04;
  font-family: 'DuneFont';
  color: black;
  text-decoration: none;
  border-radius: 4px;
  /* border: 2px solid green; */
}
.buttonOuter:hover{
  letter-spacing: 10px;
  transition: .5s ease-in-out ;
}
.movingElement{
  position: absolute;
  inset: 0;
  display: block;
}
.movingElement::before{
  content:'';
  position: absolute;
  top: -4px;
  left: 80%;
  height: 10px;
  width: 10px;
  background-color: rgb(103, 103, 207);
  transition: 0.5s;
}
.buttonOuter:hover .movingElement::before{
  width: 15px;
  left: 10%;
}
.movingElement::after{
  content:'';
  position: absolute;
  bottom: -4px;
  right: 80%;
  height: 10px;
  width: 10px;
  background-color: rgba(103, 103, 207);
  transition: 0.5s;
}
.buttonOuter:hover .movingElement::after{
  width: 15px;
  right: 10%;
}
.buttonText{
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  /* border: 2px solid purple; */
  /* margin-top: 5px; */
}


.hero-section5{
  width: 100%;
  height:auto;
  /* border: 2px solid green; */
  background-color: rgb(255, 253, 253);
  margin-top: 50px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.hero-section5-bg{
  height: 70vh;
  width:100%;
  background-color: #ea4435e1;

  border-radius: 26% 25% 21% 26% / 71% 0% 53% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}
@media screen and (max-width:850px) {
  .hero-section5-bg{
height: auto;
border-radius: 35% 25% 32% 26% / 52% 0% 47% 0%;
/* border-radius: 51% 24% 44% 25% / 52% 0% 47% 0%; */
  }
  
}
@media screen and (max-width:480px) {
  .hero-section5-bg{
border-radius: 51% 24% 44% 25% / 52% 0% 47% 0%;
  }
  
}
.main7{
  height: auto;
  width: 300px;
  /* border: 2px solid red; */
  margin: 10px;
  color: white;
  display: flex;
flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */


}
@media screen and (max-width:485px) {
  .main7{
 width:80%;
 margin-top: 60px;
 margin-left: 10px;
  }
  
}
.headOfTeams{
  font-size: 20px;
  font-family: 'DuneFont';
  font-weight: 1000;
  padding: 10px;
}
.bodyOfTeams{
  font-size: 15px;
  padding: 10px;
  color: rgb(221, 220, 220);
}
.buttonBox2{
  height: 30px;
  width: 100px;
  /* border: 2px solid red; */
  border-radius: 15px;
  background-color: #fbbc04;
  margin: 10px;
}
.buttonBox2:hover{
  background-color: #fff;
  color: black;
  transition: 0.3s;
}
.buttonOuter2{
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  color: #fff;
  
}
.buttonBox2:hover .buttonOuter2{

  color: #fbbc04;
  transition: 0.3s;
  
}
.buttonText2{
  margin-top: 8px;
  font-family: 'DuneFont';
}

.main8{
  height: auto;
  width: 400px;
  /* border: 2px solid red; */
  margin: 10px;


}
@media screen and (max-width:425px) {
  .main8{
 width: 100%;
  }
  
}
.imgOfTeams{
  height: 350px;
  width: 400px;
}
@media screen and (max-width:410px){
  .imgOfTeams{
    height: 200px;
    width: 300px;
  }
  
}





/* footer  */
.footer{
  height: 100vh;
  width: 100vw;

}